Stress test using WINDOW_UPDATE

RFC 7540 (section 10.5 Denial-of-Service Considerations) says that WINDOW_UPDATE frames can be abused to cause an unnecessary waste of resources. Hence I attempted to witness that by modifying **libevent-client.c** and included the following line in `eventcb`:

    while (1) {
       nghttp2_submit_window_update(session_data->session, NGHTTP2_FLAG_NONE, 0, 16384);
       session_send(session_data);
    }

The client was run against **libevent-server**.  Although the loop was infinite, I observed that lots of WINDOW_UPDATE frames was received only about 30 ms. (I used tshark and tcpdump to confirm that the server machine received the packets, and to count the time-lapse of the frames). After that 30 ms, no more WINDOW_UPDATE frames was observed.

Is this behavior purposely designed as a feature against the DoS Considerations in the RFC?

libnghttp2 library itself has nothing to do with WINDOW_UPDATE flooding.
Actually, you can use other frames to cause flooding too.  Application code can do any protection they want using the frequency of received frames.

The reason why it stopped sending frames is nghttp2_submit_window_update failed because the local window size exceeded the maximum window size (2**31-1).

Please note that the above code does not work in event based application code.
In general, we must not block callback function in event loop.
