nghttp2 does not correctly handle invalid SETTINGS_MAX_FRAME_SIZE value.

Found when compliance testing against nghttp2 in Lukasa/hyper#148.

Hyper emits a SETTINGS frame at the start of its connection that sets SETTINGS_MAX_FRAME_SIZE to 16,383. This value is outside the valid bounds of that settings, as RFC 7540 Section 6.5.2 says:

> The initial value is 2^14 (16,384) octets.  The value advertised by an endpoint MUST be between this initial value and the maximum allowed frame size (2^24-1 or 16,777,215 octets), inclusive. Values outside this range MUST be treated as a connection error (Section 5.4.1) of type PROTOCOL_ERROR.

nghttp2 *should* have torn this connection down per the above paragraph. Instead, it ACKed the settings frame and ignored the setting entirely: the first HEADERS frame it sent was 16,384 bytes long (longer than what hyper advertised as the maximum frame size it could handle, even if that value *was* technically illegal ;) ).

Hyper's logs from this transaction are below. Note that they also reveal another hyper bug (Lukasa/hyper#146), but that bug is not relevant to this one:

```
INFO:hyper.http20.connection:Sending frame SettingsFrame on stream 0
INFO:hyper.http20.connection:Received frame SettingsFrame on stream 0
INFO:hyper.http20.connection:Sending frame SettingsFrame on stream 0
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 1
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 3
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 5
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 7
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 9
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 11
INFO:hyper.http20.connection:Sending frame HeadersFrame on stream 13
INFO:hyper.http20.connection:Received frame SettingsFrame on stream 0
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 13
WARNING:hyper.http20.connection:Frame size exceeded on stream 13 (received: 16384, max: 16383)
INFO:hyper.http20.connection:Sending frame RstStreamFrame on stream 13
INFO:hyper.http20.connection:Received frame DataFrame on stream 13
INFO:hyper.http20.connection:Sending frame RstStreamFrame on stream 13
WARNING:hyper.http20.connection:Stream with id 13 does not exist: 13
WARNING:hyper.http20.connection:Unexpected stream identifier 13
INFO:hyper.http20.connection:Received frame DataFrame on stream 13
INFO:hyper.http20.connection:Sending frame RstStreamFrame on stream 13
WARNING:hyper.http20.connection:Stream with id 13 does not exist: 13
WARNING:hyper.http20.connection:Unexpected stream identifier 13
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 3
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 5
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 7
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 9
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 11
WARNING:hyper.http20.connection:Frame size exceeded on stream 3 (received: 16384, max: 16383)
INFO:hyper.http20.connection:Sending frame RstStreamFrame on stream 3
INFO:hyper.http20.connection:Received frame DataFrame on stream 3
INFO:hyper.http20.connection:Sending frame RstStreamFrame on stream 3
WARNING:hyper.http20.connection:Stream with id 3 does not exist: 3
WARNING:hyper.http20.connection:Unexpected stream identifier 3
INFO:hyper.http20.connection:Received frame DataFrame on stream 11
INFO:hyper.http20.connection:Received frame DataFrame on stream 5
INFO:hyper.http20.connection:Sending frame WindowUpdateFrame on stream 0
INFO:hyper.http20.connection:Received frame DataFrame on stream 9
INFO:hyper.http20.connection:Received frame PushPromiseFrame on stream 1
INFO:hyper.http20.connection:Received frame HeadersFrame on stream 1
INFO:hyper.http20.connection:Received frame DataFrame on stream 7
INFO:hyper.http20.connection:Received frame DataFrame on stream 1
```

Streams 3 and 13 both had header frames larger than hyper was expecting.

It seems we already did the boundary check in nghttp2.  I tried to send SETTINGS_MAX_FRAME_SIZE (0x5) with value 16383, nghttpd sent back GOAWAY with debug message "SETTINGS: invalid SETTINGS_MAX_FRAME_SIZE."
Probably, there may be another code path, could you tell us how to reproduce this issue using hyper?

That's quite a lot of data in the HEADERS frame, what is in there out of interest? 

@tatsuhiro-t Good spot, I don't think we were actually emitting that setting, it got lost in part of the code. Fixing that bug causes nghttp2 to behave correctly.

Thanks folks!

Thank you.  I just discovered that now ;)   I just though that disabling TLS verification makes debugging far more easier, since I could not run hyper against my local server with self-signed cert.